{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block body %}
<h1 class="container text-center"> About Us</h1>

<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
       <div class=" my-4">
<p>
       <b> Every hospital performs the same job, but that doesn’t necessarily mean that they  are all the same. Each hospital has a unique feeling in how they operate and and provide their services. The same holds true to their websites, the following ten are some examples of hospital website design that does a great job at providing the information and features needed in a high quality hospital website.

</b>


The header image on Kane Community Hospital’s website is absolutely gorgeous. The rich reds and mellow cream colors they use fit each other perfectly and make the site pleasing to look at. They use a drop down menu along the top for their main points, and a side menu for all related points that make this site super easy to navigate.

<hr>
<br>

<h4>Columbus Regional </h4>Hospital makes use of a deep and calming green alongside a pleasing cream and a contrasting orange to bring together a distinct and very nice color scheme. Instead of having a separate menu for related items, this website makes use of a tab system that organizes everything perfectly.
<br>
<hr>

Instead of a menu bar that runs over the top of the content, The George Washington University Hospital has opted for one that runs along the left side which works well for all the information that they’ve put into it. They’ve managed to organize a lot of information in such a way that the links always lead you to where you want to go.

<hr>
<br>
<h4>Virtua’s website</h4> uses lighter colors and lots of white space for a light and airy feel. They use easy to navigate menus and organize things in a way that you find exactly what you’re looking for. Their pictures that head each section are well taken and nice to look at, giving the website an extra oomph.
<br>
<hr>
<h4>
    Northwestern Medicine’s</h4> website has a very professional look to it thanks to the nice menu and the background color. The orange on the tabs in the menu contrast nicely with the blue in the background bringing your eye straight to the navigation. All of their information is nicely organized, making use of a side menu.

<br>
<hr>
<h4>
    Vidant Health’s</h4> website is very easy to use, the menu buttons and text are large and easy to read, and the various shades of blue used make the site pleasing to look at. They’ve organized everything very well to where any information is easy to find.
<br>
<hr>
<h4> Massachusetts General Hospital</h4> has a very nice scientific feel to it thanks to the blues it uses in its menu. Their navigation is simple and effective, making it easy to find what you’re looking for.

<br>
<hr>
<h4>Memorial Healthcare </h4> uses light colors that offer a soothing effect which is appropriate for a hospital. This hospital website uses drop down menus to make navigating easy and convenient, they also give related links so you can find what you’re looking for with ease.

<br>
<hr>
<h4>Children’s Healthce</h4> Atarlanta has an almost playful feel to it’s website due to it’s use of saturated colors. There are no sharp corners in any part of this website, making it feel more kid friendly and streamlined. The menus are a breeze to use and all the information is organized very well.

<br>

Indiana University Health has a very nice cream color with a rich red to give it a sophisticated feeling. Their menus are nice and easy to navigate, and their pictures are well done and pleasing to look at.
</p>      
</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
    </div>
  </div>


{% endblock %}